@model BoardAdv.Models.RegModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-5 col-md-5">
    <h2>Регистрация</h2>
</div>
    @using (Html.BeginForm())
    {
         @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-md-offset-5 col-md-5">
                @Html.ValidationSummary(true)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Login)
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-5">
                    <input type="submit" value="Зарегистрировать" class="btn btn-default" />
                </div>
            </div> 
          </div>  
    }
       